.itempage-iteminfo-content {
  display: flex;
  flex-direction: column;

  padding: 0px 16px;
}

.itempage-iteminfo-title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  text-align: start;
}

.itempage-iteminfo-buttons-content {
  display: flex;

  margin-top: 16px;
}

.itempage-iteminfo-btn {
  height: 28px;
  display: flex;
  align-items: center;

  padding: 0px 12px;
  margin-right: 12px;

  border: 2px solid #f6f7f8;
  border-radius: 14px;
  background-color: #f6f7f8;
}

.itempage-iteminfo-btn-active {
  height: 28px;

  border: 2px solid #343537;
  border-radius: 14px;
}

.itempage-iteminfo-btn-title {
  margin-right: 4px;

  font-size: 15px;
  font-weight: 600;
}

.itempage-iteminfo-extended-content {
  margin-top: 16px;
}

.itempage-iteminfo-extended-title {
  display: block;

  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: start;
}

.itempage-iteminfo-extended-infos {
  display: block;
  margin: 12px 0px 0px 0px;

  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: start;
}
