.compressheader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  padding: 8px;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 40px auto 60px;
  grid-template-rows: 44px;
  grid-template-areas: "drawerbutton searchbutton cartbutton";

  background-color: white;
}

.compressheader-menubtn {
  position: relative;
  top: calc(50% - 16px);
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-area: drawerbutton;
  cursor: pointer;
}

.compressheader-cartbtn {
  position: relative;
  top: calc(50% - 16px);
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;

  border: none;
  border-radius: 16px;
  background-color: #f6f7f8;

  grid-area: cartbutton;
  cursor: pointer;

  overflow: hidden;
}

.compressheader-cartbtn-count {
  flex-grow: 1;

  font-size: 15px;
  font-weight: 600;
  color: #343538;
  padding: 0px 4px;
}

.compressheader-searchbtn {
  position: relative;
  top: calc(50% - 20px);
  margin-right: 8px;
  height: 40px;
  width: calc(100% - 8px);
  display: flex;
  align-items: center;

  padding: 0px 12px;

  border: none;
  border-radius: 8px;
  background-color: #f6f7f8;

  grid-area: searchbutton;
  cursor: pointer;

  overflow: hidden;
}

.compressheader-searchbtn-title {
  flex-grow: 1;
  text-align: start;

  font-size: 15px;
  font-weight: 600;
  color: #343538;
  padding: 0px 4px;
}
