.header {
  background-color: cyan;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px auto 60px 60px;
  grid-template-rows: 44px 44px;
  grid-template-areas:
    "drawerbutton logo authbutton cartbutton"
    ". . . .";
}

.header-menubtn {
  position: relative;
  top: calc(50% - 16px);
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-area: drawerbutton;
  cursor: pointer;
}

.header-authbtn {
  position: relative;
  top: calc(50% - 16px);
  height: 32px;
  width: 100%;

  border: none;
  border-radius: 16px;
  background-color: #ff0063;

  grid-area: authbutton;
  cursor: pointer;
}

.header-authbtn-title {
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.headercartbutton {
  background-color: blue;
  grid-area: cartbutton;
}