.header {
  background-color: cyan;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px auto 60px 60px;
  grid-template-rows: 44px 44px;
  grid-template-areas:
    "drawerbutton . . cartbutton"
    ". . . .";
}

.header-drawerbtn {
  position: relative;
  top: calc(50% - 16px);
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-area: drawerbutton;
  cursor: pointer;
}

.header-drawerbtn-icnbox {
  width: 100%;
  height: 100%;
}

.headercartbutton {
  background-color: blue;
  grid-area: cartbutton;
}
