.skeleton-content {
  background-color: #F2F2F2;
  animation: skeleton-pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes skeleton-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
