.store-content {
  padding-top: 16px;
}

.store-banner-content {
  padding: 0px 8px 24px 8px;
}

.store-banner {
  width: 100%;
  aspect-ratio: 2;

  background-color: white;
}

.store-banner-img {
  width: 100%;
  height: 100%;

  border-radius: 10px;
}
